@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Bold.woff2") format("woff2");
  src: url("./../fonts/Roboto-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-SemiBold.woff2") format("woff2");
  src: url("./../fonts/Roboto-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Medium.woff2") format("woff2");
  src: url("./../fonts/Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Regular.woff2") format("woff2");
  src: url("./../fonts/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto";
  src: url("./../fonts/Roboto-Light.woff2") format("woff2");
  src: url("./../fonts/Robotor-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Roboto", "Segoe UI", "Helvetica Neue", Helvetica, sans-serif;
}

.container {
  width: 95%;
  max-width: 1800px;
  margin: 0 auto;
  padding: 0 25px;
}

@media (max-width: 560px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
}

html {
  scroll-behavior: smooth;
}

.primary-btn {
  text-decoration: none;
  color: #2563eb;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      top: 20px;
      height: 1px;
      border-radius: 50%;
      transition: all 0.3s ease;
      transform: translateX(-50%);
      transform-origin: top;
      background-color: #2563eb;
    }
  }
  &:hover,
  &:focus {
    span::after {
      width: 100%;
    }
  }
  &:active {
    color: #103586;
    span:after {
      transform: scaleX(0);
      width: 0%;
    }
  }
}

.cta-btn {
  text-decoration: none;
  color: white;
  background-color: #2563eb;
  padding: 12px 18px 12px 28px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      top: 20px;
      height: 1px;
      border-radius: 50%;
      transition: all 0.3s ease;
      transform: translateX(-50%);
      transform-origin: top;
      background-color: #fff;
    }
  }
  &:hover,
  &:focus {
    span::after {
      width: 100%;
    }
  }
  &:active {
    background-color: #214ca9;
    span:after {
      transform: scaleX(0);
      width: 0%;
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.link-underline {
  position: relative;
  span {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      width: 0;
      top: 20px;
      height: 1px;
      border-radius: 50%;
      transition: all 0.3s ease;
      transform: translateX(-50%);
      transform-origin: top;
    }
  }
  &:hover,
  &:focus {
    span::after {
      width: 100%;
    }
  }
  &:active {
    span:after {
      transform: scaleX(0);
      width: 0%;
    }
  }
}

.title-of-link {
  display: flex;
  gap: 16px;
  align-items: center;
  width: fit-content;
}
