.footer {
  .footer-wrapper {
    padding: 92px 0;
    display: flex;
    justify-content: space-between;
    p {
      font-size: 18px;
      font-weight: 500;
      cursor: pointer;
      span {
        color: #475569;
        transition: all 0.4s ease;
        &:hover {
          opacity: 0.6;
        }
      }
    }
    nav {
      ul {
        list-style-type: none;
        display: flex;
        gap: 24px;
        a {
          text-decoration: none;
          color: #475569;
        }
        li {
          font-size: 16px;
          span {
            &::after {
              background-color: #475569;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 900px) {
  .footer {
    .footer-wrapper {
      padding: 24px 0;
      flex-direction: column;
      gap: 28px;
      p {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }
    }
  }
}

@media (max-width: 550px) {
  .footer {
    .footer-wrapper {
      nav {
        ul {
          .mobile-none {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 380px) {
  .footer {
    .footer-wrapper {
      nav {
        ul {
          gap: 12px;
        }
      }
    }
  }
}
