.header {
  z-index: 999;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
    .logo {
      text-decoration: none;
      font-size: 32px;
      font-weight: 700;
      color: black;
      &::hover {
        cursor: pointer;
      }
    }
    .navigation {
      ul {
        list-style-type: none;
        display: flex;
        gap: 52px;
      }
      li {
        font-size: 16px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: black;
        }
        span {
          &::after {
            background-color: black;
          }
        }
      }
      .burger {
        display: none;
        flex-direction: column;
        gap: 7px;
        .line {
          width: 25px;
          height: 3px;
          background-color: black;
        }
      }
    }
    .header-btns {
      display: flex;
      gap: 16px;
      align-items: center;
    }
  }
}

@media (max-width: 1024px) {
  .header {
    .header-wrapper {
      .navigation {
        ul {
          position: absolute;
          right: 0;
          top: 40px;
          width: 200px;
          flex-direction: column;
          display: none;
          &:active {
            display: flex;
          }
        }
        .burger {
          display: flex;
        }
      }
      .header-btns {
        display: none;
      }
    }
  }
}
