.header {
  z-index: 998;
  position: fixed;
  top: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  .header-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
    align-items: center;
    .logo {
      text-decoration: none;
      font-size: 32px;
      font-weight: 700;
      color: black;
      &::hover {
        cursor: pointer;
      }
    }
    .navigation {
      ul {
        list-style-type: none;
        display: flex;
        gap: 52px;
      }
      li {
        font-size: 16px;
        cursor: pointer;
        a {
          text-decoration: none;
          color: black;
        }
        span {
          &::after {
            background-color: black;
          }
        }
      }
    }
    .header-btns {
      display: flex;
      gap: 16px;
      align-items: center;
    }
  }
}

.burger-wrapp {
  display: none;
  .burger-btn {
    display: none;
    flex-direction: column;
    gap: 7px;
    background-color: white;
    border: none;
    z-index: 999;
    transition: all 0.5s ease;
    .line {
      width: 25px;
      height: 3px;
      background-color: black;
      transition: all 0.5s ease;
    }
  }
  .burger-info {
    display: none;
  }
  .burger-title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
  }
  .burger-nav-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    list-style-type: none;
    li {
      font-size: 22px;
      font-weight: 400;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}

.open {
  padding: 24px 25px;
  position: absolute;
  z-index: 998;
  width: 100%;
  background-color: white;
  transition: all 0.6s ease;
  left: 0;
  top: 0;
  height: 100vh;
  .burger-btn {
    display: block;
    gap: 0;
    position: absolute;
    right: 15px;
    top: 24px;
    z-index: 999;
    .line {
      &:nth-child(1) {
        transform: rotate(45deg);
        position: absolute;
        top: 15px;
        right: 0;
      }
      &:nth-child(2) {
        display: none;
      }
      &:nth-child(3) {
        transform: rotate(-53deg);
        position: absolute;
        top: 15px;
        right: 0;
      }
    }
  }
  .burger-info {
    display: block;
    z-index: 999;
  }
}

@media (max-width: 1024px) {
  .header {
    .header-wrapper {
      .navigation {
        ul {
          position: absolute;
          right: 0;
          top: 40px;
          width: 200px;
          flex-direction: column;
          display: none;
          &:active {
            display: flex;
          }
        }
      }
      .burger-wrapp {
        display: block;
        .burger-btn {
          display: flex;
        }
      }
      .header-btns {
        display: none;
      }
    }
  }
}
