.hero {
  padding: 160px 0 94px 0;
  .hero-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    gap: 80px;
  }
  .heroTitle {
    font-size: 72px;
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 24px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.3);
  }
  .heroSubtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #475569;
    margin-bottom: 24px;
  }
  input {
    width: 65%;
    padding: 0;
    border-radius: 8px;
    border: 1px solid #cbd5e1;
    padding: 17px 18px;
    color: #cbd5e1;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  img {
    width: 600px;
    height: 440px;
  }
  .email-cta {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    gap: 16px;
  }
  .partners {
    display: flex;
    background-color: #f1f5f9;
    border-radius: 8px;
    justify-content: space-between;
    padding: 16px;
    svg {
      cursor: pointer;
      transition: all 1s ease;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
  .deco {
    position: absolute;
    right: -56px;
    bottom: -56px;
    width: 176px;
    height: 176px;
    z-index: -1;
  }
}

@media (min-width: 1900px) {
  .hero {
    .deco {
      right: 40px;
    }
  }
}

@media (max-width: 1300px) {
  .hero {
    .heroTitle {
      font-size: 60px;
    }
    input {
      width: 60%;
    }
    .partners {
      gap: 16px;
    }
  }
}

@media (max-width: 1024px) {
  .hero {
    padding: 160px 0 48px 0;
    .hero-wrapper {
      flex-direction: column;
      gap: 45px;
    }
    .heroTitle {
      width: 100%;
      text-align: center;
      font-size: 72px;
    }
    .heroSubtitle {
      width: 100%;
      text-align: center;
    }
    .deco {
      display: none;
    }
    img {
      align-self: center;
    }
    input {
      width: 75%;
    }
  }
}

@media (max-width: 900px) {
  .hero {
    input {
      width: 70%;
    }
  }
}

@media (max-width: 800px) {
  .hero {
    padding: 160px 15px;
    input {
      width: 65%;
    }
  }
}

@media (max-width: 690px) {
  .hero {
    .heroTitle {
      font-size: 50px;
    }
    .heroSubtitle {
      font-size: 22px;
    }
    img {
      width: 500px;
      height: 340px;
    }
  }
}

@media (max-width: 640px) {
  .hero {
    img {
      width: 450px;
      height: 290px;
    }
    input {
      width: 55%;
    }
  }
}

@media (max-width: 560px) {
  .hero {
    padding: 115px 15px;
    img {
      width: 381px;
      height: 281px;
    }
    input {
      width: 50%;
    }
    .heroTitle {
      font-size: 40px;
      text-align: left;
    }
    .heroSubtitle {
      font-size: 16px;
      text-align: left;
    }
    .email-cta {
      gap: 8px;
    }
    .hero-wrapper {
      gap: 32px;
    }
    .partners {
      flex-wrap: wrap;
      gap: 16px;
      justify-content: space-around;
      align-items: center;
      padding: 16px 65px;
    }
  }
}

@media (max-width: 500px) {
  .hero {
    padding: 115px 0;
    .partners {
      padding: 16px 30px;
    }
  }
}

@media (max-width: 410px) {
  .hero {
    img {
      width: 340px;
      height: 250px;
    }
  }
}

@media (max-width: 380px) {
  .hero {
    .email-cta {
      gap: 4px;
    }
    input {
      width: 45%;
    }
    img {
      width: 300px;
      height: 210px;
    }
  }
}

@media (max-width: 340px) {
  .hero {
    input {
      width: 42%;
    }
  }
}
